[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.6"
pyjwt = "*"
drf-yasg = "*"
coreapi = "==2.3.3"
pyyaml = "==5.1.2"
django-rest-swagger = "==2.2.0"

[dev-packages]

[requires]
python_version = "3.8"
